<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Deliverables</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Deliverables</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/10ccaa2d-7bcf-4b4a-8b6a-cb3b19f539d9.png" alt="Deliverables" usemap="#10ccaa2d-7bcf-4b4a-8b6a-cb3b19f539d9map">
			<map name="10ccaa2d-7bcf-4b4a-8b6a-cb3b19f539d9map">
								<area shape="rect" coords="130,70,250,125" href="../views/8ad189d8-3576-499a-8bcc-bc69237da98c.html"  target="view">
								<area shape="rect" coords="34,154,154,209" href="../views/f85ab8ab-a28f-44f8-9ee5-c85c41768b5b.html"  target="view">
								<area shape="rect" coords="274,70,394,125" href="../views/35411fd1-c02f-4c22-ab78-b2a3c08a6823.html"  target="view">
								<area shape="rect" coords="178,154,298,209" href="../views/e482c824-016d-4751-86e9-f9acf20c9524.html"  target="view">
								<area shape="rect" coords="178,238,298,293" href="../views/8f99cb61-8ce1-450e-b3a9-799c23f93019.html"  target="view">
								<area shape="rect" coords="322,154,442,209" href="../views/eeca1511-8678-4006-9632-5063d9cd3576.html"  target="view">

						<area shape="rect" coords="10,10,491,335" href="../elements/f7a9b18f-c9a7-4bad-9a72-125f53bc02bd.html"  target="element">
								<area shape="rect" coords="718,58,838,113" href="../views/680166c2-619c-4ee0-b719-103a310b5c0b.html"  target="view">
								<area shape="rect" coords="562,58,682,113" href="../views/64d0ecc9-0dbe-4ec2-bbb4-1d4b2b4b76ec.html"  target="view">

						<area shape="rect" coords="526,10,923,203" href="../elements/25ab58c1-4cb9-43fc-b6fd-b5275ec22b8c.html"  target="element">
								<area shape="rect" coords="670,298,790,353" href="../views/1fecbfcd-fdfd-458b-a98a-b70cc9262c10.html"  target="view">

						<area shape="rect" coords="526,238,923,419" href="../elements/9d2612e9-6252-4de7-a0b0-86892417c045.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/f7a9b18f-c9a7-4bad-9a72-125f53bc02bd.html" target="element"> D 2.1 General architecture </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
													<tr><td> <a href="../views/8ad189d8-3576-499a-8bcc-bc69237da98c.html" target="view"> General View </a> </td><td class="i18n-viewpoint-"></td></tr>
													<tr><td> <a href="../views/f85ab8ab-a28f-44f8-9ee5-c85c41768b5b.html" target="view"> Personal Agent </a> </td><td class="i18n-viewpoint-"></td></tr>
													<tr><td> <a href="../views/35411fd1-c02f-4c22-ab78-b2a3c08a6823.html" target="view"> Data sources overview </a> </td><td class="i18n-viewpoint-"></td></tr>
													<tr><td> <a href="../views/e482c824-016d-4751-86e9-f9acf20c9524.html" target="view"> UI Generation </a> </td><td class="i18n-viewpoint-"></td></tr>
													<tr><td> <a href="../views/8f99cb61-8ce1-450e-b3a9-799c23f93019.html" target="view"> Oslo Steps Feedback </a> </td><td class="i18n-viewpoint-layered"></td></tr>
													<tr><td> <a href="../views/eeca1511-8678-4006-9632-5063d9cd3576.html" target="view"> Optimization Engine </a> </td><td class="i18n-viewpoint-"></td></tr>
											
											<tr><td> <a href="../elements/25ab58c1-4cb9-43fc-b6fd-b5275ec22b8c.html" target="element"> D 2.2 Transaction Model </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
													<tr><td> <a href="../views/680166c2-619c-4ee0-b719-103a310b5c0b.html" target="view"> Provide personalized workflows </a> </td><td class="i18n-viewpoint-"></td></tr>
													<tr><td> <a href="../views/64d0ecc9-0dbe-4ec2-bbb4-1d4b2b4b76ec.html" target="view"> Optimizing Life Journeys </a> </td><td class="i18n-viewpoint-"></td></tr>
											
											<tr><td> <a href="../elements/9d2612e9-6252-4de7-a0b0-86892417c045.html" target="element"> D 1.2 OSLO-STEPS extension </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
													<tr><td> <a href="../views/1fecbfcd-fdfd-458b-a98a-b70cc9262c10.html" target="view"> Oslo Steps </a> </td><td class="i18n-viewpoint-"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>