<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data sources overview</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Data sources overview</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/35411fd1-c02f-4c22-ab78-b2a3c08a6823.png" alt="Data sources overview" usemap="#35411fd1-c02f-4c22-ab78-b2a3c08a6823map">
			<map name="35411fd1-c02f-4c22-ab78-b2a3c08a6823map">
										<area shape="rect" coords="46,97,166,152" href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html"  target="element">
										<area shape="rect" coords="178,97,298,152" href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html"  target="element">
										<area shape="rect" coords="118,169,238,224" href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html"  target="element">

								<area shape="rect" coords="22,61,359,263" href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html"  target="element">
										<area shape="rect" coords="755,262,875,317" href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html"  target="element">
										<area shape="rect" coords="755,334,875,389" href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html"  target="element">
										<area shape="rect" coords="430,214,695,287" href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html"  target="element">
										<area shape="rect" coords="562,340,682,395" href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html"  target="element">
										<area shape="rect" coords="430,340,550,395" href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html"  target="element">
										<area shape="rect" coords="742,190,887,245" href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html"  target="element">

								<area shape="rect" coords="406,142,923,419" href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html"  target="element">
										<area shape="rect" coords="130,334,250,389" href="../elements/450767b1-298c-49dd-8862-22682dcc78fc.html"  target="element">

								<area shape="rect" coords="22,298,359,395" href="../elements/861dfa98-63b2-42ce-b8d0-0dc84597aa59.html"  target="element">
										<area shape="rect" coords="600,538,720,593" href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html"  target="element">
										<area shape="rect" coords="612,670,732,725" href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html"  target="element">
										<area shape="rect" coords="768,670,888,725" href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html"  target="element">
										<area shape="rect" coords="312,550,432,605" href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html"  target="element">
										<area shape="rect" coords="444,670,564,725" href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html"  target="element">

								<area shape="rect" coords="288,478,923,743" href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html"  target="element">
										<area shape="rect" coords="70,514,190,569" href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html"  target="element">
										<area shape="rect" coords="70,646,190,701" href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html"  target="element">

								<area shape="rect" coords="22,466,263,724" href="../elements/11314384-bdce-407a-9293-d73935f2f899.html"  target="element">

						<area shape="rect" coords="10,10,1018,791" href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
															<tr><td> <a href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html" target="element"> Public Catalog </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
															<tr><td> <a href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html" target="element"> User's official data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													
													<tr><td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
															<tr><td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
															<tr><td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td><td class="i18n-elementtype-Node"></td></tr>
															<tr><td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													
													<tr><td> <a href="../elements/861dfa98-63b2-42ce-b8d0-0dc84597aa59.html" target="element"> Transactions </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/450767b1-298c-49dd-8862-22682dcc78fc.html" target="element"> Transaction Data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													
													<tr><td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html" target="element"> Activity Logs </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html" target="element"> UI interaction Logs </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html" target="element"> OSLO Steps Feedback </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html" target="element"> User Personas </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													
													<tr><td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2e8dcd1b-ea8d-44cf-8832-57ea02430c0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e8dcd1b-ea8d-44cf-8832-57ea02430c0c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5ca30050-4f40-41ea-b1b6-ab45d1ba8429.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ca30050-4f40-41ea-b1b6-ab45d1ba8429.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0c549a8-0786-4a50-b445-718a23c26825.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0c549a8-0786-4a50-b445-718a23c26825.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td>
																		<td> <a href="../elements/861dfa98-63b2-42ce-b8d0-0dc84597aa59.html" target="element"> Transactions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58a4e352-4a4c-49b1-8a50-061bc11c270b.html" target="element">  </a> </td>
																		<td> <a href="../elements/58a4e352-4a4c-49b1-8a50-061bc11c270b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7554f531-32ac-4178-9391-7e90bd58d5a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/7554f531-32ac-4178-9391-7e90bd58d5a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c8adbfab-1d38-40e2-988c-e3431eacda68.html" target="element"> Data Sources </a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b80e22f6-a749-4bec-b4cb-0e6ce72f6b6b.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80e22f6-a749-4bec-b4cb-0e6ce72f6b6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																				<td> <a href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html" target="element"> Public Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																				<td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d5cece5f-9959-46b7-afb3-1a3e5c32b6a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/d5cece5f-9959-46b7-afb3-1a3e5c32b6a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																				<td> <a href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html" target="element"> User's official data </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element">  </a> </td>
																				<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element">  </a> </td>
																				<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element">  </a> </td>
																				<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																				<td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element">  </a> </td>
																						<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																						<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element">  </a> </td>
																						<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																						<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element">  </a> </td>
																						<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																						<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																						<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/16949d9c-741f-4593-8d3f-daf85ae8f8dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/16949d9c-741f-4593-8d3f-daf85ae8f8dd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/861dfa98-63b2-42ce-b8d0-0dc84597aa59.html" target="element"> Transactions </a> </td>
																				<td> <a href="../elements/450767b1-298c-49dd-8862-22682dcc78fc.html" target="element"> Transaction Data </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/8ce4f979-3832-4c55-91c7-b64e2a03654a.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ce4f979-3832-4c55-91c7-b64e2a03654a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																				<td> <a href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html" target="element"> Activity Logs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b93662b3-53d2-4b9e-9719-aa4b18c87561.html" target="element">  </a> </td>
																				<td> <a href="../elements/b93662b3-53d2-4b9e-9719-aa4b18c87561.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																				<td> <a href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html" target="element"> UI interaction Logs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/478d82f3-feea-442e-bc87-c5407091ab05.html" target="element">  </a> </td>
																				<td> <a href="../elements/478d82f3-feea-442e-bc87-c5407091ab05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																				<td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/790f35f4-20fd-4d2f-80c9-60e07af425f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/790f35f4-20fd-4d2f-80c9-60e07af425f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																				<td> <a href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html" target="element"> User Personas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1dd3a4f8-56e7-438a-84ef-a6bad1cbb66a.html" target="element">  </a> </td>
																				<td> <a href="../elements/1dd3a4f8-56e7-438a-84ef-a6bad1cbb66a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																				<td> <a href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html" target="element"> OSLO Steps Feedback </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/27377f9a-fe3e-4b9a-9d0b-479f6bf44ea7.html" target="element"> is a </a> </td>
																						<td> <a href="../elements/27377f9a-fe3e-4b9a-9d0b-479f6bf44ea7.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html" target="element"> Activity Logs </a> </td>
																						<td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/7659be93-76d8-4b56-9a75-ada0867fe619.html" target="element"> is a </a> </td>
																						<td> <a href="../elements/7659be93-76d8-4b56-9a75-ada0867fe619.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html" target="element"> UI interaction Logs </a> </td>
																						<td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/fe30ae40-3051-455c-9cce-656447c8bf69.html" target="element"> Composed by </a> </td>
																						<td> <a href="../elements/fe30ae40-3051-455c-9cce-656447c8bf69.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html" target="element"> OSLO Steps Feedback </a> </td>
																						<td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/cc83257e-dfa5-4498-9ac2-0cb8979ea8dd.html" target="element"> is a </a> </td>
																						<td> <a href="../elements/cc83257e-dfa5-4498-9ac2-0cb8979ea8dd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html" target="element"> User Personas </a> </td>
																						<td> <a href="../elements/e7a752f7-c99e-4982-ad1a-46941ae3a357.html" target="element"> Feature </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element">  </a> </td>
																				<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																				<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element">  </a> </td>
																				<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																				<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element"> Composed by </a> </td>
																						<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																						<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>