<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Optimization Engine</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Optimization Engine</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/eeca1511-8678-4006-9632-5063d9cd3576.png" alt="Optimization Engine" usemap="#eeca1511-8678-4006-9632-5063d9cd3576map">
			<map name="eeca1511-8678-4006-9632-5063d9cd3576map">
								<area shape="rect" coords="190,238,320,293" href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html"  target="element">
								<area shape="rect" coords="33,238,153,293" href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html"  target="element">
								<area shape="rect" coords="370,238,490,293" href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html"  target="element">

						<area shape="rect" coords="10,190,515,310" href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html"  target="element">
								<area shape="rect" coords="34,58,154,113" href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html"  target="element">
								<area shape="rect" coords="370,58,490,113" href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html"  target="element">

						<area shape="rect" coords="10,10,515,143" href="../elements/11314384-bdce-407a-9293-d73935f2f899.html"  target="element">
								<area shape="rect" coords="70,454,190,509" href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html"  target="element">
								<area shape="rect" coords="70,526,190,581" href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html"  target="element">
								<area shape="rect" coords="70,382,190,437" href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html"  target="element">

						<area shape="rect" coords="10,346,263,599" href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html"  target="element">
								<area shape="rect" coords="322,394,478,449" href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html"  target="element">
								<area shape="rect" coords="346,466,466,521" href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html"  target="element">

						<area shape="rect" coords="274,346,515,599" href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The group of components that generate better variants of Life journeys is what we call the Optimization Engine. A description of how the optimization is in D.2.2, in a nutshell, anytime an optimization process is triggered, the latest Journeys are processed together with the OSLO Steps feedback to detect possible adaptations that can result in better Journeys. The journeys can be adapted accordingly.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td><td class="i18n-elementtype-Node"></td></tr>
													<tr><td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<tr><td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html" target="element"> Activity Logs </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html" target="element"> UI interaction Logs </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html" target="element"> User Personas </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/43d8171c-26f9-49fb-9e8e-3403c80755ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/43d8171c-26f9-49fb-9e8e-3403c80755ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0194f62-12f0-4aa8-ad82-ecca282b93c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0194f62-12f0-4aa8-ad82-ecca282b93c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84050089-36ef-43e7-820e-31f6838f4481.html" target="element">  </a> </td>
																		<td> <a href="../elements/84050089-36ef-43e7-820e-31f6838f4481.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element"> Refines </a> </td>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6c9c8d70-0828-4d4f-be18-3f588b7a2af6.html" target="element">  </a> </td>
																				<td> <a href="../elements/6c9c8d70-0828-4d4f-be18-3f588b7a2af6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td>
																				<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/79045a0c-a9a9-4288-b30e-01635c38acf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/79045a0c-a9a9-4288-b30e-01635c38acf6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td>
																				<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element">  </a> </td>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element">  </a> </td>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element"> Composed by </a> </td>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																				<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8ce4f979-3832-4c55-91c7-b64e2a03654a.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ce4f979-3832-4c55-91c7-b64e2a03654a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/cf68d7ba-55b0-4145-8916-ea65a5356001.html" target="element"> Activity Logs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b93662b3-53d2-4b9e-9719-aa4b18c87561.html" target="element">  </a> </td>
																		<td> <a href="../elements/b93662b3-53d2-4b9e-9719-aa4b18c87561.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/367a780f-7309-4ee3-922e-d4ccf680e295.html" target="element"> UI interaction Logs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/790f35f4-20fd-4d2f-80c9-60e07af425f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/790f35f4-20fd-4d2f-80c9-60e07af425f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/2d595ade-d08b-48f1-a1c7-991da148e5cc.html" target="element"> User Personas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0dc6804-ff07-4b7d-a741-385ac2741564.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/c0dc6804-ff07-4b7d-a741-385ac2741564.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8b37606c-c24d-4e58-9a64-75238d2ff25a.html" target="element">  </a> </td>
																				<td> <a href="../elements/8b37606c-c24d-4e58-9a64-75238d2ff25a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																				<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>