<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Mijn Burgerprofiel</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Mijn Burgerprofiel</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/fe0d580f-8c63-4030-acfe-1e5137e16f8c.png" alt="Mijn Burgerprofiel" usemap="#fe0d580f-8c63-4030-acfe-1e5137e16f8cmap">
			<map name="fe0d580f-8c63-4030-acfe-1e5137e16f8cmap">
								<area shape="rect" coords="359,130,479,185" href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html"  target="element">
								<area shape="rect" coords="359,202,479,257" href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html"  target="element">
								<area shape="rect" coords="34,82,299,155" href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html"  target="element">
								<area shape="rect" coords="166,208,286,263" href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html"  target="element">
								<area shape="rect" coords="34,208,154,263" href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html"  target="element">
								<area shape="rect" coords="346,58,491,113" href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html"  target="element">

						<area shape="rect" coords="10,10,527,287" href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td><td class="i18n-elementtype-Node"></td></tr>
													<tr><td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element">  </a> </td>
																				<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element">  </a> </td>
																				<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element">  </a> </td>
																				<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>