<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Oslo Steps</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Oslo Steps</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/1fecbfcd-fdfd-458b-a98a-b70cc9262c10.png" alt="Oslo Steps" usemap="#1fecbfcd-fdfd-458b-a98a-b70cc9262c10map">
			<map name="1fecbfcd-fdfd-458b-a98a-b70cc9262c10map">
								<area shape="rect" coords="334,68,454,123" href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html"  target="element">
								<area shape="rect" coords="334,200,454,255" href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html"  target="element">

						<area shape="rect" coords="286,20,527,278" href="../elements/11314384-bdce-407a-9293-d73935f2f899.html"  target="element">
								<area shape="rect" coords="658,130,803,173" href="../elements/3e7aab8c-c8d2-4082-a614-04a520f452fa.html"  target="element">

						<area shape="rect" coords="646,22,815,275" href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html"  target="element">
								<area shape="rect" coords="22,118,214,178" href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html"  target="element">

						<area shape="rect" coords="10,10,227,275" href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/3e7aab8c-c8d2-4082-a614-04a520f452fa.html" target="element"> Optimizing Life Journeys </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element">  </a> </td>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element">  </a> </td>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a85077c-ce7c-43a4-91d2-4d149837d37b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a85077c-ce7c-43a4-91d2-4d149837d37b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element"> Composed by </a> </td>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																				<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/97f1a787-f7e0-4307-a677-4a4ffe6647c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/97f1a787-f7e0-4307-a677-4a4ffe6647c0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/3e7aab8c-c8d2-4082-a614-04a520f452fa.html" target="element"> Optimizing Life Journeys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element"> Refines </a> </td>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/98c3bf64-30cf-429a-9aa3-676e3c03ece0.html" target="element">  </a> </td>
																		<td> <a href="../elements/98c3bf64-30cf-429a-9aa3-676e3c03ece0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>