<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Provide personalized workflows</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Provide personalized workflows</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/680166c2-619c-4ee0-b719-103a310b5c0b.png" alt="Provide personalized workflows" usemap="#680166c2-619c-4ee0-b719-103a310b5c0bmap">
			<map name="680166c2-619c-4ee0-b719-103a310b5c0bmap">
								<area shape="rect" coords="226,706,382,761" href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html"  target="element">
								<area shape="rect" coords="70,706,190,761" href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html"  target="element">

						<area shape="rect" coords="22,658,395,790" href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html"  target="element">
								<area shape="rect" coords="250,442,370,497" href="../elements/5a10c598-685e-43cf-8636-9b2f03204b01.html"  target="element">
								<area shape="rect" coords="394,442,538,497" href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html"  target="element">
								<area shape="rect" coords="552,442,672,497" href="../elements/06e36976-544a-47db-91a0-0761e8d4641f.html"  target="element">
								<area shape="rect" coords="456,538,659,593" href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html"  target="element">
								<area shape="rect" coords="286,538,442,593" href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html"  target="element">
										<area shape="rect" coords="730,334,850,389" href="../elements/c9eca6d1-c0f2-4bcc-8f6c-2c9ea70c4c15.html"  target="element">
										<area shape="rect" coords="106,333,226,388" href="../elements/8bd88126-a984-48c9-9df5-9185b6e302fb.html"  target="element">
										<area shape="rect" coords="250,334,370,389" href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html"  target="element">
										<area shape="rect" coords="418,333,538,388" href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html"  target="element">
										<area shape="rect" coords="562,334,686,387" href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html"  target="element">

								<area shape="rect" coords="82,298,910,406" href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html"  target="element">
								<area shape="rect" coords="36,544,156,599" href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html"  target="element">
								<area shape="rect" coords="82,226,298,281" href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html"  target="element">
								<area shape="rect" coords="742,538,862,593" href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html"  target="element">
								<area shape="rect" coords="742,442,862,497" href="../elements/49073df3-e8e8-449a-9651-fd2606d7aecd.html"  target="element">

						<area shape="rect" coords="10,190,947,634" href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html"  target="element">
								<area shape="rect" coords="754,46,863,119" href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html"  target="element">
								<area shape="rect" coords="130,55,250,110" href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html"  target="element">

						<area shape="rect" coords="22,10,875,143" href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html"  target="element">
								<area shape="rect" coords="610,694,730,749" href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html"  target="element">
								<area shape="rect" coords="790,694,910,749" href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html"  target="element">
								<area shape="rect" coords="610,766,730,821" href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html"  target="element">
								<area shape="rect" coords="790,766,910,821" href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html"  target="element">

						<area shape="rect" coords="598,658,947,839" href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html"  target="element">
								<area shape="rect" coords="442,700,562,755" href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html"  target="element">
								<area shape="rect" coords="442,772,562,827" href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html"  target="element">

						<area shape="rect" coords="430,664,575,833" href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/5a10c598-685e-43cf-8636-9b2f03204b01.html" target="element"> Planning Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html" target="element"> Shapes Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/06e36976-544a-47db-91a0-0761e8d4641f.html" target="element">  Populator Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/c9eca6d1-c0f2-4bcc-8f6c-2c9ea70c4c15.html" target="element"> Serialize into format </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/8bd88126-a984-48c9-9df5-9185b6e302fb.html" target="element"> Select sources </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html" target="element"> Build Dynamic journey </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html" target="element"> Generate UI Flows </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html" target="element"> Autocomplete Forms </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/49073df3-e8e8-449a-9651-fd2606d7aecd.html" target="element"> Serialization </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											
											<tr><td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td><td class="i18n-elementtype-Node"></td></tr>
											
											<tr><td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html" target="element"> User's official data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/89d96aef-50c3-438b-a2a9-65f671b5ce97.html" target="element">  </a> </td>
																				<td> <a href="../elements/89d96aef-50c3-438b-a2a9-65f671b5ce97.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																				<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9cf97032-267e-4034-aa21-d9e584c1b095.html" target="element">  </a> </td>
																				<td> <a href="../elements/9cf97032-267e-4034-aa21-d9e584c1b095.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ce74520e-85a8-4d4e-9acd-525aacb2d54c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce74520e-85a8-4d4e-9acd-525aacb2d54c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/5a10c598-685e-43cf-8636-9b2f03204b01.html" target="element"> Planning Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1f6b8da-174f-4490-bc1c-51af5c257af1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1f6b8da-174f-4490-bc1c-51af5c257af1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html" target="element"> Shapes Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89657e34-c40c-457c-90a2-a984f22b1efe.html" target="element">  </a> </td>
																		<td> <a href="../elements/89657e34-c40c-457c-90a2-a984f22b1efe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/06e36976-544a-47db-91a0-0761e8d4641f.html" target="element">  Populator Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/98c3bf64-30cf-429a-9aa3-676e3c03ece0.html" target="element">  </a> </td>
																		<td> <a href="../elements/98c3bf64-30cf-429a-9aa3-676e3c03ece0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f02f624f-96e1-4eee-96ba-a136f2a2e8f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f02f624f-96e1-4eee-96ba-a136f2a2e8f9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d6961640-0a56-4bd6-84ec-20138c4baf66.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6961640-0a56-4bd6-84ec-20138c4baf66.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f12b4b35-c418-401d-b005-513af7ea66ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/f12b4b35-c418-401d-b005-513af7ea66ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bfc6dec7-da8e-47cc-9301-f8163eeb69ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/bfc6dec7-da8e-47cc-9301-f8163eeb69ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62904c62-3f7d-4964-a14c-1c5ee7d5ec64.html" target="element">  </a> </td>
																		<td> <a href="../elements/62904c62-3f7d-4964-a14c-1c5ee7d5ec64.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f15be611-ae89-487b-93d3-5dd795a1e454.html" target="element">  </a> </td>
																		<td> <a href="../elements/f15be611-ae89-487b-93d3-5dd795a1e454.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/49073df3-e8e8-449a-9651-fd2606d7aecd.html" target="element"> Serialization </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fa3ddc20-db10-4f17-8c68-efbd0bbdf206.html" target="element">  </a> </td>
																				<td> <a href="../elements/fa3ddc20-db10-4f17-8c68-efbd0bbdf206.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5a10c598-685e-43cf-8636-9b2f03204b01.html" target="element"> Planning Service </a> </td>
																				<td> <a href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html" target="element"> Build Dynamic journey </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d9ddd7a8-3371-4b04-87e8-0ec1cfd5442d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9ddd7a8-3371-4b04-87e8-0ec1cfd5442d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html" target="element"> Shapes Service </a> </td>
																				<td> <a href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html" target="element"> Generate UI Flows </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/45a65121-acfe-4425-bb13-0f39758caf90.html" target="element">  </a> </td>
																				<td> <a href="../elements/45a65121-acfe-4425-bb13-0f39758caf90.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/06e36976-544a-47db-91a0-0761e8d4641f.html" target="element">  Populator Service </a> </td>
																				<td> <a href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html" target="element"> Autocomplete Forms </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/186f448d-5784-4bb9-953a-cc8ebf8a3b53.html" target="element">  </a> </td>
																				<td> <a href="../elements/186f448d-5784-4bb9-953a-cc8ebf8a3b53.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																				<td> <a href="../elements/06e36976-544a-47db-91a0-0761e8d4641f.html" target="element">  Populator Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fd6780d8-c49d-4f1c-a67e-1753ac86a39e.html" target="element">  </a> </td>
																				<td> <a href="../elements/fd6780d8-c49d-4f1c-a67e-1753ac86a39e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																				<td> <a href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html" target="element"> Shapes Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1b167bea-5f04-4616-a380-6a20374c2f58.html" target="element">  </a> </td>
																				<td> <a href="../elements/1b167bea-5f04-4616-a380-6a20374c2f58.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/5a10c598-685e-43cf-8636-9b2f03204b01.html" target="element"> Planning Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ba753adc-9f05-4d10-9bd1-918780dce8be.html" target="element"> Reads </a> </td>
																				<td> <a href="../elements/ba753adc-9f05-4d10-9bd1-918780dce8be.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6818ca1e-e61e-4843-8d73-142cf6a0a718.html" target="element">  </a> </td>
																				<td> <a href="../elements/6818ca1e-e61e-4843-8d73-142cf6a0a718.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/63009617-9da8-47c9-9c02-27eb58626dac.html" target="element"> Shapes Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f882da40-5b33-4766-8ba0-a7a5e87e697b.html" target="element">  </a> </td>
																				<td> <a href="../elements/f882da40-5b33-4766-8ba0-a7a5e87e697b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/c9eca6d1-c0f2-4bcc-8f6c-2c9ea70c4c15.html" target="element"> Serialize into format </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/003ff455-ae18-418f-8a05-8619e5cfbcec.html" target="element">  </a> </td>
																				<td> <a href="../elements/003ff455-ae18-418f-8a05-8619e5cfbcec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/8bd88126-a984-48c9-9df5-9185b6e302fb.html" target="element"> Select sources </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1bd5fb04-3f01-44d6-823e-af70a47c7dc9.html" target="element">  </a> </td>
																				<td> <a href="../elements/1bd5fb04-3f01-44d6-823e-af70a47c7dc9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html" target="element"> Build Dynamic journey </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f67937fe-998d-4980-9e75-54e45baf5502.html" target="element">  </a> </td>
																				<td> <a href="../elements/f67937fe-998d-4980-9e75-54e45baf5502.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html" target="element"> Generate UI Flows </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/85ec92ce-d0e9-4e04-ad7b-158d6b9db23a.html" target="element">  </a> </td>
																				<td> <a href="../elements/85ec92ce-d0e9-4e04-ad7b-158d6b9db23a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html" target="element"> Autocomplete Forms </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/043ff6c1-28e7-4cbf-818f-a42de05331d6.html" target="element"> Provides </a> </td>
																				<td> <a href="../elements/043ff6c1-28e7-4cbf-818f-a42de05331d6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																				<td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e6b32a37-d8a2-4c22-bcb5-ea78e1b491e1.html" target="element">  </a> </td>
																						<td> <a href="../elements/e6b32a37-d8a2-4c22-bcb5-ea78e1b491e1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8bd88126-a984-48c9-9df5-9185b6e302fb.html" target="element"> Select sources </a> </td>
																						<td> <a href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html" target="element"> Build Dynamic journey </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/10a78fa9-8c52-4aff-9744-7a4a909801a0.html" target="element">  </a> </td>
																						<td> <a href="../elements/10a78fa9-8c52-4aff-9744-7a4a909801a0.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/b17a44d5-72a5-4959-9124-8f0481ca5ca9.html" target="element"> Build Dynamic journey </a> </td>
																						<td> <a href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html" target="element"> Generate UI Flows </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/e9c321b8-2ff1-4663-848c-660f52ec5174.html" target="element">  </a> </td>
																						<td> <a href="../elements/e9c321b8-2ff1-4663-848c-660f52ec5174.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/203e5278-b212-4a3b-a2ad-607f05d6c04e.html" target="element"> Generate UI Flows </a> </td>
																						<td> <a href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html" target="element"> Autocomplete Forms </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/07cdaa5b-bd8e-4e8f-9a3c-84f89a8aa4a8.html" target="element">  </a> </td>
																						<td> <a href="../elements/07cdaa5b-bd8e-4e8f-9a3c-84f89a8aa4a8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f2c097ec-7f6d-4de3-9324-2e45ee6458d2.html" target="element"> Autocomplete Forms </a> </td>
																						<td> <a href="../elements/c9eca6d1-c0f2-4bcc-8f6c-2c9ea70c4c15.html" target="element"> Serialize into format </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/9a9a9f5c-77b4-40d7-9979-934158c4e750.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a9a9f5c-77b4-40d7-9979-934158c4e750.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td>
																				<td> <a href="../elements/950bc9ab-f8f1-41b5-b77b-77a9e965c83f.html" target="element"> Provide personalized Journey </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/648f328c-a212-4bdd-b3f7-99b21b04981a.html" target="element">  </a> </td>
																				<td> <a href="../elements/648f328c-a212-4bdd-b3f7-99b21b04981a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td>
																				<td> <a href="../elements/49073df3-e8e8-449a-9651-fd2606d7aecd.html" target="element"> Serialization </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b8c0687d-c991-4dbf-bca4-3b35e76a5e77.html" target="element">  </a> </td>
																				<td> <a href="../elements/b8c0687d-c991-4dbf-bca4-3b35e76a5e77.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/49073df3-e8e8-449a-9651-fd2606d7aecd.html" target="element"> Serialization </a> </td>
																				<td> <a href="../elements/c9eca6d1-c0f2-4bcc-8f6c-2c9ea70c4c15.html" target="element"> Serialize into format </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/767a942f-ddb4-475f-89a0-587e3865e845.html" target="element">  </a> </td>
																		<td> <a href="../elements/767a942f-ddb4-475f-89a0-587e3865e845.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b438d88-8812-471d-8243-366c583ee910.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b438d88-8812-471d-8243-366c583ee910.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f96b23a6-17f1-420a-89e3-3186315ce541.html" target="element">  </a> </td>
																				<td> <a href="../elements/f96b23a6-17f1-420a-89e3-3186315ce541.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																				<td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6670f2f2-018d-41d3-8242-6fd9c1932edd.html" target="element">  </a> </td>
																				<td> <a href="../elements/6670f2f2-018d-41d3-8242-6fd9c1932edd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2d831c5c-0e33-429a-9cef-d5eedcde4fa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/2d831c5c-0e33-429a-9cef-d5eedcde4fa7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																		<td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5cece5f-9959-46b7-afb3-1a3e5c32b6a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5cece5f-9959-46b7-afb3-1a3e5c32b6a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																		<td> <a href="../elements/9312a6dd-5e67-40e3-96e3-71bd40612b10.html" target="element"> User's official data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/397f22d6-04eb-4ff7-9432-38e2f33c1dad.html" target="element">  </a> </td>
																				<td> <a href="../elements/397f22d6-04eb-4ff7-9432-38e2f33c1dad.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>