<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>General View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>General View</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/8ad189d8-3576-499a-8bcc-bc69237da98c.png" alt="General View" usemap="#8ad189d8-3576-499a-8bcc-bc69237da98cmap">
			<map name="8ad189d8-3576-499a-8bcc-bc69237da98cmap">
								<area shape="rect" coords="383,598,503,653" href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html"  target="element">
								<area shape="rect" coords="203,430,323,485" href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html"  target="element">
								<area shape="rect" coords="383,430,503,485" href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html"  target="element">
								<area shape="rect" coords="383,526,503,581" href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html"  target="element">
								<area shape="rect" coords="203,562,323,623" href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html"  target="element">

						<area shape="rect" coords="179,382,528,671" href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html"  target="element">
								<area shape="rect" coords="22,347,142,402" href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html"  target="element">
								<area shape="rect" coords="22,419,142,474" href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html"  target="element">

						<area shape="rect" coords="10,311,155,491" href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html"  target="element">
								<area shape="rect" coords="53,58,173,113" href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html"  target="element">
								<area shape="rect" coords="226,139,346,194" href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html"  target="element">
								<area shape="rect" coords="22,130,204,203" href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html"  target="element">
								<area shape="rect" coords="119,226,204,281" href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html"  target="element">
								<area shape="rect" coords="23,226,109,281" href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html"  target="element">
								<area shape="rect" coords="226,58,346,113" href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html"  target="element">

						<area shape="rect" coords="11,10,360,299" href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html"  target="element">
								<area shape="rect" coords="419,247,528,308" href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html"  target="element">
								<area shape="rect" coords="431,58,695,113" href="../elements/6a63e687-ab9d-431e-a53b-faf53ba9f243.html"  target="element">
								<area shape="rect" coords="575,250,695,305" href="../elements/5bbb4e94-31cb-4c6c-b8ba-46b60bbe8030.html"  target="element">
								<area shape="rect" coords="575,166,695,221" href="../elements/8e61bd2e-ad3d-440e-8369-cbd8e19feb43.html"  target="element">
								<area shape="rect" coords="408,166,528,221" href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html"  target="element">

						<area shape="rect" coords="383,10,732,335" href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html"  target="element">
						<area shape="rect" coords="815,10,1031,94" href="../elements/cec8d1b6-c75b-4250-9ba2-ffad4bcb35f9.html"  target="element">
								<area shape="rect" coords="839,431,1007,486" href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html"  target="element">
								<area shape="rect" coords="827,515,947,570" href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html"  target="element">
								<area shape="rect" coords="911,599,1031,654" href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html"  target="element">

						<area shape="rect" coords="815,359,1032,671" href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html"  target="element">
								<area shape="rect" coords="23,539,143,587" href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html"  target="element">
								<area shape="rect" coords="23,599,143,654" href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html"  target="element">

						<area shape="rect" coords="11,503,155,671" href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html"  target="element">
								<area shape="rect" coords="863,190,983,245" href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html"  target="element">

						<area shape="rect" coords="815,154,1031,270" href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html"  target="element">
								<area shape="rect" coords="587,430,707,485" href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html"  target="element">
								<area shape="rect" coords="587,562,707,617" href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html"  target="element">

						<area shape="rect" coords="563,382,720,670" href="../elements/11314384-bdce-407a-9293-d73935f2f899.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The UI generation group provides adaptive user interfaces through Personalized Flows provided by a personal agent. The agent calculates Personalized Flows using general-purpose OSLO Steps, data from external systems such as MAGDA and the data of the user, which is stored in his Burgerprofiel. 
The OSLO Steps are constantly refined via an optimization process provided by our Optimization Engine. The Optimization engine uses the current OSLO Steps, and external feedback to produce better variants of the journeys. The feedback is gathered through Natural Language techniques and captured from real user interactions and A/B testing. This corresponds to a cyclic process that starts with initial OSLO Steps which are continuously improved. 
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html" target="element"> Agent Controller </a> </td><td class="i18n-elementtype-Node"></td></tr>
											
											<tr><td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html" target="element"> Public Catalog </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											
											<tr><td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td><td class="i18n-elementtype-Node"></td></tr>
													<tr><td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											
											<tr><td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/6a63e687-ab9d-431e-a53b-faf53ba9f243.html" target="element"> Frontend application (HTML) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/5bbb4e94-31cb-4c6c-b8ba-46b60bbe8030.html" target="element"> UI Framework </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/8e61bd2e-ad3d-440e-8369-cbd8e19feb43.html" target="element"> A/B Testing </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td><td class="i18n-elementtype-Node"></td></tr>
											
											<tr><td> <a href="../elements/cec8d1b6-c75b-4250-9ba2-ffad4bcb35f9.html" target="element"> Natural language processing (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
											<tr><td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td><td class="i18n-elementtype-Node"></td></tr>
													<tr><td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<tr><td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html" target="element"> OSLO Steps Feedback </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											
											<tr><td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/bfc6dec7-da8e-47cc-9301-f8163eeb69ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/bfc6dec7-da8e-47cc-9301-f8163eeb69ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f12b4b35-c418-401d-b005-513af7ea66ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/f12b4b35-c418-401d-b005-513af7ea66ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d6961640-0a56-4bd6-84ec-20138c4baf66.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6961640-0a56-4bd6-84ec-20138c4baf66.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8505532c-7854-48ce-8e6e-6cef8709368f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8505532c-7854-48ce-8e6e-6cef8709368f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html" target="element"> Agent Controller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62904c62-3f7d-4964-a14c-1c5ee7d5ec64.html" target="element">  </a> </td>
																		<td> <a href="../elements/62904c62-3f7d-4964-a14c-1c5ee7d5ec64.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c9edf06-e792-4562-9997-d39480846911.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/2c9edf06-e792-4562-9997-d39480846911.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb1e1ad1-4688-4359-bef5-350cba7820c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb1e1ad1-4688-4359-bef5-350cba7820c5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0c3e137-40be-41de-a7dd-92b7a0727791.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0c3e137-40be-41de-a7dd-92b7a0727791.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5dce1005-2e9d-4019-a6e7-ab45fba859dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/5dce1005-2e9d-4019-a6e7-ab45fba859dd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/92dae4ec-d175-4da1-8ab9-77597f07afbc.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html" target="element"> Agent Controller </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a5dc0e59-7618-4ec4-bb16-eb12a4540477.html" target="element">  </a> </td>
																				<td> <a href="../elements/a5dc0e59-7618-4ec4-bb16-eb12a4540477.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td>
																				<td> <a href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html" target="element"> Agent Controller </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cbbe2af6-a6e5-41ab-bc49-94438b1a9316.html" target="element">  </a> </td>
																				<td> <a href="../elements/cbbe2af6-a6e5-41ab-bc49-94438b1a9316.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6b81818c-a5ed-42b1-82a8-1e63237205c1.html" target="element"> Hypermedia Controller </a> </td>
																				<td> <a href="../elements/0df3bdff-641c-4e16-bc52-86361f6fd9a5.html" target="element"> Hypermedia API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fa37248d-cb10-4fa7-82fd-8088c7a52d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/fa37248d-cb10-4fa7-82fd-8088c7a52d5f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/3cebe78a-f545-41b7-b7f6-7e37e2cb81c0.html" target="element"> Data Discovery </a> </td>
																				<td> <a href="../elements/9af55166-7379-4b14-876a-2ec1e23f180c.html" target="element"> Agent Controller </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c59f7763-2dc4-49ce-8c19-c5dbb87695b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																		<td> <a href="../elements/ca713471-2182-4c21-bfe7-e245985c9943.html" target="element"> Magda API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b80e22f6-a749-4bec-b4cb-0e6ce72f6b6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b80e22f6-a749-4bec-b4cb-0e6ce72f6b6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																		<td> <a href="../elements/d23e47e1-4161-4596-928a-109f99f00f3d.html" target="element"> Public Catalog </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3e316cf-e148-4115-9c61-0bd2211f6072.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/96bd2afb-cc45-4be9-8216-8fd13ff282c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5114d1c-f3b5-4f7d-a07e-2a8d02792da9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfdc324e-4d81-4a4a-b179-2c9adffc3f82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/96605e77-1b16-4875-aca5-d7291ed748e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e1e9c54-6965-458b-946a-ef47f56bf95b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/38989555-9542-476f-8198-052dcf36a9aa.html" target="element"> Authentication API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba02413d-c9c1-4950-894f-bd5986da5990.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba02413d-c9c1-4950-894f-bd5986da5990.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element">  </a> </td>
																				<td> <a href="../elements/0bf50789-f0ef-467b-b975-77e39625d16e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/e770b99b-2728-4ed9-b184-1e7442c1330f.html" target="element"> Personal Files </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/b9b62ac7-7833-4a47-be96-6e716e6b2c0f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/15985e50-3962-4e03-95dc-eb8e3e659f1e.html" target="element"> Citizen Data API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element">  </a> </td>
																				<td> <a href="../elements/c5fcc008-32c7-4ff3-a0b3-2206d5613014.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/c2d4a3e2-162f-4e56-a518-640dd318bce3.html" target="element"> File API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element">  </a> </td>
																				<td> <a href="../elements/a496e749-8358-4623-9273-b513893f7e0b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9297ce2b-0d16-45cb-bd06-cec61d6998a0.html" target="element"> Personal Data &amp; File Server </a> </td>
																				<td> <a href="../elements/1032e8f8-3363-496f-bf84-d610ded9bd65.html" target="element"> Personal Data </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/956e4859-e8b6-486e-a9a8-962b8e4e3014.html" target="element">  </a> </td>
																		<td> <a href="../elements/956e4859-e8b6-486e-a9a8-962b8e4e3014.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/6a63e687-ab9d-431e-a53b-faf53ba9f243.html" target="element"> Frontend application (HTML) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/767a942f-ddb4-475f-89a0-587e3865e845.html" target="element">  </a> </td>
																		<td> <a href="../elements/767a942f-ddb4-475f-89a0-587e3865e845.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/642db342-37e3-4359-acc1-ab98d154a01a.html" target="element">  </a> </td>
																		<td> <a href="../elements/642db342-37e3-4359-acc1-ab98d154a01a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/8e61bd2e-ad3d-440e-8369-cbd8e19feb43.html" target="element"> A/B Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6e31e42-14c9-49b1-ae93-1ebe6de2563a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6e31e42-14c9-49b1-ae93-1ebe6de2563a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/5bbb4e94-31cb-4c6c-b8ba-46b60bbe8030.html" target="element"> UI Framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2d6f16a9-39c6-419b-aeb1-b6bd7396bb1f.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/2d6f16a9-39c6-419b-aeb1-b6bd7396bb1f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b438d88-8812-471d-8243-366c583ee910.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b438d88-8812-471d-8243-366c583ee910.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7abfd5df-5044-4573-acef-177d39e65596.html" target="element"> UI Generation (WP3) </a> </td>
																		<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/50d4f097-e7dd-4a4b-879e-db3e1514dd8c.html" target="element">  </a> </td>
																				<td> <a href="../elements/50d4f097-e7dd-4a4b-879e-db3e1514dd8c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/6a63e687-ab9d-431e-a53b-faf53ba9f243.html" target="element"> Frontend application (HTML) </a> </td>
																				<td> <a href="../elements/8e61bd2e-ad3d-440e-8369-cbd8e19feb43.html" target="element"> A/B Testing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7efd56fe-4b18-4a1b-9ad5-b41ea11f75b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/7efd56fe-4b18-4a1b-9ad5-b41ea11f75b4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5bbb4e94-31cb-4c6c-b8ba-46b60bbe8030.html" target="element"> UI Framework </a> </td>
																				<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5bc039ae-4f3c-4b24-9323-7e5fa3e0819c.html" target="element">  </a> </td>
																				<td> <a href="../elements/5bc039ae-4f3c-4b24-9323-7e5fa3e0819c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																				<td> <a href="../elements/6a63e687-ab9d-431e-a53b-faf53ba9f243.html" target="element"> Frontend application (HTML) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cddd445d-f9a8-40ea-9a83-a42b930e7098.html" target="element">  </a> </td>
																				<td> <a href="../elements/cddd445d-f9a8-40ea-9a83-a42b930e7098.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9d42ff22-748e-4e49-81ca-46d369dd780f.html" target="element"> UI Controller </a> </td>
																				<td> <a href="../elements/fc3d471f-4ba1-43b6-8a6d-53c3593bf1d8.html" target="element"> Personalized Flow </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/790bddda-39be-4d17-827a-4ec2aa805e6e.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/790bddda-39be-4d17-827a-4ec2aa805e6e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cec8d1b6-c75b-4250-9ba2-ffad4bcb35f9.html" target="element"> Natural language processing (WP1) </a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84050089-36ef-43e7-820e-31f6838f4481.html" target="element">  </a> </td>
																		<td> <a href="../elements/84050089-36ef-43e7-820e-31f6838f4481.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43d8171c-26f9-49fb-9e8e-3403c80755ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/43d8171c-26f9-49fb-9e8e-3403c80755ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0194f62-12f0-4aa8-ad82-ecca282b93c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0194f62-12f0-4aa8-ad82-ecca282b93c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element"> Refines </a> </td>
																		<td> <a href="../elements/6e5d7a5a-8054-459f-86a2-7997be48fc59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6c9c8d70-0828-4d4f-be18-3f588b7a2af6.html" target="element">  </a> </td>
																				<td> <a href="../elements/6c9c8d70-0828-4d4f-be18-3f588b7a2af6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7a60bde6-5e60-4982-ae85-b18e9954b0da.html" target="element"> Optimization Module </a> </td>
																				<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/79045a0c-a9a9-4288-b30e-01635c38acf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/79045a0c-a9a9-4288-b30e-01635c38acf6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c75565b6-a178-4695-8b76-c78b260bc394.html" target="element"> Journey Processor </a> </td>
																				<td> <a href="../elements/79bb6f8b-9924-4b7d-af85-08a9a559a802.html" target="element"> Optimizer Controller </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbc2dc4e-bc11-4950-be2d-eca2679e4407.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/c1b7e52b-9efa-400e-968c-715609cbd693.html" target="element"> Reasoner Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f3a54a7-a8a0-4b8a-971a-3c5faa16db4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/24034483-421b-4dfa-8914-b07bed6c821d.html" target="element"> Rules </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8c58347d-f0cd-46d4-ad95-6dbac02690d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c58347d-f0cd-46d4-ad95-6dbac02690d2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/2ffd17c7-abff-4125-9f7a-4f6c2ccb42fa.html" target="element"> Reasoning (WP1) </a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/1dd3a4f8-56e7-438a-84ef-a6bad1cbb66a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1dd3a4f8-56e7-438a-84ef-a6bad1cbb66a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/e8c0a575-38f2-4b07-aa67-a537a3c78bd6.html" target="element"> OSLO Steps Feedback </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0dc6804-ff07-4b7d-a741-385ac2741564.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/c0dc6804-ff07-4b7d-a741-385ac2741564.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cce4330e-c674-4bc8-bc4b-21c29251796d.html" target="element"> Oslo Steps Feedback </a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element">  </a> </td>
																		<td> <a href="../elements/f069fe1e-1019-4e26-abbe-7fc5ebf70942.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element">  </a> </td>
																		<td> <a href="../elements/07b9d340-da23-4897-9b90-8d9177b7de13.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a85077c-ce7c-43a4-91d2-4d149837d37b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a85077c-ce7c-43a4-91d2-4d149837d37b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/d3c83830-88fe-43d1-8851-70b05884a45c.html" target="element"> Personal Agent (WP2) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/89414092-490e-4931-a924-a6ecd80a601a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/11314384-bdce-407a-9293-d73935f2f899.html" target="element"> OSLO Steps (WP1) </a> </td>
																		<td> <a href="../elements/4701b60a-3177-4c79-9d2f-cea4cdfbe870.html" target="element"> Optimization Engine (WP2) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element"> Composed by </a> </td>
																				<td> <a href="../elements/ecbb028d-1845-4922-8277-57f4201b3aa8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6b8b35fa-d9d5-4425-966b-f0e9d1c5a454.html" target="element"> Life Journeys </a> </td>
																				<td> <a href="../elements/04799b36-0aaa-4d93-aa21-773e0f822374.html" target="element"> OSLO Steps DEFINITIONS </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>