<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Categories</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Categories</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e4fb228a-c56f-40da-977b-b2223b62a2d4.png" alt="Categories" usemap="#e4fb228a-c56f-40da-977b-b2223b62a2d4map">
			<map name="e4fb228a-c56f-40da-977b-b2223b62a2d4map">
						<area shape="rect" coords="238,286,490,419" href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html"  target="element">
						<area shape="rect" coords="10,286,215,419" href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html"  target="element">
						<area shape="rect" coords="370,154,490,209" href="../elements/f98a8b2e-0ecb-4944-b4f1-b6aa30e78e37.html"  target="element">
						<area shape="rect" coords="154,154,311,209" href="../elements/965c9dc6-0e84-436b-a6a2-51693e48c787.html"  target="element">
						<area shape="rect" coords="154,10,791,65" href="../elements/b5f1ab6f-6142-45a2-9491-9413851aab10.html"  target="element">
						<area shape="rect" coords="598,154,718,209" href="../elements/a937a122-7814-42f8-9d19-64ff97e699fe.html"  target="element">
						<area shape="rect" coords="550,286,803,419" href="../elements/707a121d-781e-4d30-8aeb-409e3ed50e49.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
											<tr><td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
											<tr><td> <a href="../elements/f98a8b2e-0ecb-4944-b4f1-b6aa30e78e37.html" target="element"> Data about the environment </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/965c9dc6-0e84-436b-a6a2-51693e48c787.html" target="element"> Data about the user </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/b5f1ab6f-6142-45a2-9491-9413851aab10.html" target="element"> Current State of the world </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/a937a122-7814-42f8-9d19-64ff97e699fe.html" target="element"> Current Processes </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/707a121d-781e-4d30-8aeb-409e3ed50e49.html" target="element"> Process Broker </a> </td><td class="i18n-elementtype-Grouping"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e4954923-2f65-4206-9333-401f6b144836.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4954923-2f65-4206-9333-401f6b144836.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/965c9dc6-0e84-436b-a6a2-51693e48c787.html" target="element"> Data about the user </a> </td>
																		<td> <a href="../elements/bc9c6c63-7e08-4d3d-beac-678ffc26a53a.html" target="element"> Data pod / Mijn Burgerprofiel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9e601e47-d1d5-4bf0-a472-8718b483ecf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e601e47-d1d5-4bf0-a472-8718b483ecf8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/965c9dc6-0e84-436b-a6a2-51693e48c787.html" target="element"> Data about the user </a> </td>
																		<td> <a href="../elements/2d8fe70b-0026-4ce4-8eeb-f48efe3f3f5f.html" target="element"> Authoritative Sources </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4dd42719-5e5b-426f-80b7-a67308930edd.html" target="element">  </a> </td>
																		<td> <a href="../elements/4dd42719-5e5b-426f-80b7-a67308930edd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b5f1ab6f-6142-45a2-9491-9413851aab10.html" target="element"> Current State of the world </a> </td>
																		<td> <a href="../elements/965c9dc6-0e84-436b-a6a2-51693e48c787.html" target="element"> Data about the user </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f27db406-4fc7-4337-a096-e5f1b20fda62.html" target="element">  </a> </td>
																		<td> <a href="../elements/f27db406-4fc7-4337-a096-e5f1b20fda62.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b5f1ab6f-6142-45a2-9491-9413851aab10.html" target="element"> Current State of the world </a> </td>
																		<td> <a href="../elements/f98a8b2e-0ecb-4944-b4f1-b6aa30e78e37.html" target="element"> Data about the environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/141ee47f-44dd-4495-945b-4efb2f36e54f.html" target="element">  </a> </td>
																		<td> <a href="../elements/141ee47f-44dd-4495-945b-4efb2f36e54f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b5f1ab6f-6142-45a2-9491-9413851aab10.html" target="element"> Current State of the world </a> </td>
																		<td> <a href="../elements/a937a122-7814-42f8-9d19-64ff97e699fe.html" target="element"> Current Processes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3f3e571e-1e29-4e6e-9130-c5c849281a4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f3e571e-1e29-4e6e-9130-c5c849281a4f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a937a122-7814-42f8-9d19-64ff97e699fe.html" target="element"> Current Processes </a> </td>
																		<td> <a href="../elements/707a121d-781e-4d30-8aeb-409e3ed50e49.html" target="element"> Process Broker </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>